<form class="search-form" [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="search-form-field">
    <mat-label>What are you want to find out?</mat-label>
    <input
      matInput
      type="text"
      formControlName="searchInput"
      autocomplete="off"
      (keydown.enter)="onKeyDown($event)"
      #searchInput
    />
    <button
      *ngIf="searchInput.value"
      mat-button
      matSuffix
      color="primary"
      class="button button_circle button_without-border button_suffix"
      aria-label="Clear"
      (click)="onClear()"
    >
      <mat-icon class="mat-icon">clear</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
