:host {
  display: flex;
  width: 100%;
}

.search-form {
  flex-basis: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.search-form-field {
  width: 80%;
  margin: 0 15px;
}

.button_without-border {
  border: none;
}

.button_circle {
  border-radius: 50%;
}
