<ng-container *ngIf="!isLoading; else spinner">
  <form class="login-form" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="login-form__field">
      <mat-label>Username</mat-label>
      <input
        type="text"
        autocomplete="off"
        matInput
        formControlName="username"
      />
      <mat-error *ngIf="loginFormGroup.controls.username.hasError('username')">
        Please enter a valid username.
      </mat-error>
      <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
        Username is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-form__field">
      <mat-label>Password</mat-label>
      <input
        type="password"
        autocomplete="off"
        matInput
        formControlName="password"
      />
      <mat-error *ngIf="loginFormGroup.controls.password.hasError('password')">
        Please enter a valid password.
      </mat-error>
      <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
    <button mat-button type="submit" class="login-form__button_submit">
      Login
    </button>
  </form>
</ng-container>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
