.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 25px 0;
}

.login-form__field {
  width: 50%;
  margin: 0 auto 15px auto;
}

.login-form__button_submit {
  width: 150px;
  margin: auto;
}
