:host {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.sort-option__list {
  display: flex;
  height: 100%;
  align-items: center;
}

.sort-option {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 70px 0 10px;
  position: relative;
}
