:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo__container,
.search-input__container {
  display: flex;
  margin: 0 5px;
}

.logo__container {
  flex-basis: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.34375em;
}

.search-input__container {
  flex-basis: 60%;
}

.logo {
  font-size: 55px;
  width: fit-content;
  height: fit-content;
}
